# Mr. Tatoo Backend — plantilla
PORT=3011
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5438
DB_NAME=mr_tatoo_db
DB_USER=mr_tatoo_user
DB_PASSWORD=cambiar_password

JWT_SECRET=cambiar_jwt_secreto_largo_y_aleatorio
JWT_EXPIRE=8h

FRONTEND_URL=http://localhost:5510
CORS_ORIGIN=http://localhost:5510

ADMIN_EMAIL=admin@mr-tatoo.local
ADMIN_PASSWORD=cambiar_password_admin
ADMIN_NOMBRE=Administrador Mr. Tatoo

WHATSAPP_NUMBER=573000000000
UPLOAD_DIR=uploads
